/* CSS 작성 */

/* header */
h1 img {
  width: 176px;
  height: 40px;
}
/* section */
.heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-bottom: 24px;
}
h2 {
  font-weight: 500;
  width: auto;
  height: 28px;
}
.divider {
  font-size: 17px;
  font-weight: bold;
  height: 20px;
  color: #aaa9a9;
}
h4 {
  color: #aaa9a9;
  height: 18px;
  font-weight: medium;
}

/* product section */
.container {
  width: 1020px;
  height: 958px;
}
.row {
  height: 310px;
  margin-bottom: 16px;
}
[class^="col-"] {
  float: left;
  height: 310px;
  border: 1px solid #c4c4c4;
  background: #ffffff;
  padding: 21px;
}
[class^="col-"] button {
  position: absolute;
  top: 300px;
  display: flex;
  justify-content: flex-start;
  width: 42px;
  height: 42px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
}
button > svg {
  position: absolute;
  width: 6px;
  height: 10px;
  background: #f3f3f3;
}
.col-1-of-2 {
  width: 502px;
}
.col-1-of-4 {
  width: 243px;
}
.col-1-of-2:not(:last-child),
.col-1-of-4:not(:last-child) {
  margin-right: 16px;
}
