/* CSS 작성 */

/* header */
h1 img {
  width: 176px;
  height: 40px;
}
/* section */
.heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-bottom: 24px;
}

h2 {
  font-weight: 500;
  width: auto;
  height: 28px;
}
.divider {
  font-size: 17px;
  font-weight: bold;
  height: 20px;
  color: #aaa9a9;
}
h4 {
  color: #aaa9a9;
  height: 18px;
  font-weight: medium;
}

/* product section */
.container {
  height: 958px;
}
.row {
  height: 310px;
  margin-bottom: 16px;
}
[class^="col-"] {
  float: left;
  height: 310px;
  border: 1px solid #c4c4c4;
  background: #ffffff;
  padding: 21px;
}
[class^="col-"] button {
  position: relative;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: flex-start;
  border: none;
  background: rgba(0, 0, 0, 0.2) url(/assets/icon/angle-right-square.svg);
}
[class^="col-"]:hover {
  border: 1px solid #0074e9;
}
[class^="col-"]:hover button,
:focus button {
  width: 112px;
  height: 42px;
  transition: 200ms ease-out;
  background: #0074e9 url(/assets/icon/angle-right-square.svg) no-repeat right;
}
[class^="col-"]:hover button::after,
:focus button::after {
  content: "구매하기";
  font-weight: 500;
  font-size: 14px;
  margin: 9px auto auto 16px;
  white-space: nowrap;
  color: #fff;
}
.col-1-of-2 {
  width: 502px;
}
.col-1-of-2 button {
  bottom: 50px;
}
.col-1-of-4 {
  width: 243px;
}
.col-1-of-4 button {
  bottom: 61px;
}
.custom-position {
  top: -7px;
}
.col-1-of-2:not(:last-child),
.col-1-of-4:not(:last-child) {
  margin-right: 16px;
}
