/* Base 스타일 작성 */
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

body {
  width: 1020px;
  height: 100vh;
  margin: 0 auto;
}
header {
  /* border: 1px solid red; */
  position: absolute;
  top: 100px;
  width: 1020px;
}
section {
  /* border: 1px solid red; */
  position: absolute;
  top: 188px;
  padding-bottom: 240px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
